<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.page-footer
{
	margin-left:40px;
}
.d1
{
	top:0;
	position:fixed;
	height: 60px;
	width: 100%;
	padding: 0px 15px;
	z-index:1;
	padding-top: 15px;
}
.aa
{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding-left: 10px;
	padding-right: 60px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.d1 span
{
	color: white;
}
.d1 img
{
	cursor: pointer;
	width: 40px;
	margin-left: 30px;
	margin-right: 10px;
	float: right;
	border-radius: 50%;
}
.sadmin
{
	float: right;
	padding: .3em .50em .3em;
	font-size: 10px;
	font-weight: 800;
	line-height: 1;
	border-radius: 4px;
}
.d2
{
	height: 100%;
	width: 40px;
	position: fixed;
	z-index: 1;
	top: 60px;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}
.d2 a
{
	display: block;
	padding: 11px;
	text-decoration: none;
	color: #999999;
	transition: 0.1s;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	white-space: nowrap;
	cursor: pointer;
}
.fa
{
	font-size: 21px;
	padding-right: 10px;
}
.d2 a:hover
{
	background-color: #111;
	border-left= 1 solid;
	border-left-color: red;
}
.active
{
	background-color: #337AB7;
}
.d2 img
{
	width: 60px;
	height: 60px;
}
header
{
	height: 80px;
	background-color: white;
	padding: 10px;
}
@media (max-width: 767px)
{
    .dr
		{
        display:none;
    }
}
.form-text
{
	display:none;
}
</style>
</head>
<body>
	<div class="modal" id="logoutModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">LOGOUT</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<label for="logout">DO YOU REALY WANT TO LOGOUT</label>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success" onclick="logout()">YES</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
	<div id="div1" class="d1 bg-dark">
		<span class="dr" style="cursor:pointer;" onclick="funcNav()">&#9776;</span>
		<span>Home</span>
	</div>
	<div class="d2 bg-dark" id="div">
	<a href="/userlist"><span class="fa"><i class="fa fa-list-ul"></i></span>Prolist</a>
	<a href="/prolist"><span class="fa"><i class="fa fa-list-alt"></i></span>Prolist</a>
    <a data-toggle="modal" data-target="#logoutModal"><span class="fa"><i class="fa fa-sign-out"></i></span>Logout</a>
	</div>
</body>
<script>

function funcNav()
{
	var div=document.getElementById('div');
	if(div.style.width=="250px")
	{
		div.style.width="40px";
		document.getElementById("main").style.paddingLeft= "50px";
		//document.getElementById("Aboutus").style.marginLeft= "40px";
	}
	else
	{
		div.style.width="250px";
		document.getElementById("main").style.paddingLeft = "260px";
		//document.getElementById("Aboutus").style.marginLeft = "250px";
	}
}
function logout()
{
	var logout=new XMLHttpRequest();
	logout.addEventListener('load',function(req,res)
	{
		window.location.assign('/')
	});
	logout.open('GET','/logout');
	logout.send();
}
</script>
</html>
