<footer class="page-footer font-small indigo bg-dark navbar-dark" style="margin-top:10px;margin-bottom:0px;" id="Aboutus">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">About</h5>
        <ul class="list-unstyled">
          <li>
            <p class="text-muted">AhomeserviceZ is Chitkara based e-com Company, founded by group of aspirant with consideration to put the world in more comfort zone via weaving new ideas and implementing it at ground level.</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">Featured Service</h5>
        <ul class="list-unstyled" style="line-height:10px">
          <li>
            <p class="text-muted">Electrician Services</p>
          </li>
          <li>
            <p class="text-muted">Plumber Services</p>
          </li>
          <li>
            <p class="text-muted">Pest control Services</p>
          </li>
          <li>
            <p class="text-muted">Carpenter Services</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">Information</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/Aboutus" class="text-muted">About Us</a>
          </li>
          <li>
            <a href="/termsandconditions" class="text-muted">Terms & Conditions</a>
          </li>
          <li>
            <a href="/privacypolicy" class="text-muted">Privay Policy</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-muted">Serving In</h5>
        <ul class="list-unstyled" style="line-height:10px">
          <li>
            <p class="text-muted">Haryana</p>
          </li>
          <li>
            <p class="text-muted">Punjab</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p href="https://mdbootstrap.com/">AhomeserviceZ.com.All Rights Reserved.</p>
  </div>
</footer>
