<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  @media (max-width: 767px)
  {
    .heading
    {
      font-size:20px;
    }
  }
  </style>
</head>
<body class="bg-light">
  <%- include('partials/site_header') %>
  <section id="main" style="margin-left:50px">
    <div class="container mt-5">
      <div class="card mx-auto">
        <div class="card-body">
          <div class="row justify-content-center" style="background-color:#ffff">
            <h1 class="heading">Electrician Installation Repair Services</h1>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <img src="elec.jpg" class="border w-100 rounded shadow">
                </div>
                <div class="col-md-6">
                  <h1 class="heading">Visit Charge : ₹ 149*</h1>
                  <p><small><b>Go Cashless:</b><br>Pay Online after your service PayTm and other.</small></p>
                  <p><small><b>Professionals</b><br>Inhouse Verified and Trained Professionals.</small></p>
                  <p><small><b>Service Guarantee</b><br>Service Guarantee Upto 365 Days of Service.</small></p>
                  <input type="button" id="bookMyService" onclick="window.location.assign('/bookingform')" value="BOOK" class="btn btn-info w-75">
                  <ul>
                    <li><small>₹ 199 will be charged for 1st hour.</small></li>
                    <li><small>₹ 99 will be charged for next 30 minutes following to 1st hour.</small></li>
                    <li><small>₹ 99 will be charged in case of Inspection only.</small></li>
                    <li><small>Material procurement time will be included in service time.</small></li>
                    <li><small>Required Material cost is excluded from above cost.</small></li>
                    <li><small>₹ Cash after Service Available. <i class="fa fa-check text-success"></i></small></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <small>As other things your home electricity networks has got fluctuation and you must need a trustworthy electrician quickly to your door step</small>
          <h3 class="mt-2"><b>Services under Electrical Repairing? <i class="fa fa-arrow-right"></i></b></h3>
          <small>On the behalf of customer complaints and urgency for repairing we provide various services in feasible situation through our highly skilled and verified technicians, who are expert in repairing, installation and de-installation</small>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
