<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  @media (max-width: 767px)
  {
    .heading
    {
      font-size:20px;
    }
  }
  </style>
</head>
<body class="bg-light">
  <%- include('partials/site_header') %>
  <section id="main" style="margin-left:50px">
    <div class="container mt-5">
      <div class="card mx-auto">
        <div class="card-body">
          <div class="row justify-content-center" style="background-color:#ffff">
            <h1 class="heading">Plumber Services For Repairing And Fitting</h1>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <img src="plum.jpg" class="border w-100 rounded shadow">
                </div>
                <div class="col-md-6">
                  <h1 class="heading">Visit Charge : ₹ 149*</h1>
                  <p><small><b>Go Cashless:</b><br>Pay Online after your service PayTm and other.</small></p>
                  <p><small><b>Professionals</b><br>Inhouse Verified and Trained Professionals.</small></p>
                  <p><small><b>Service Guarantee</b><br>Service Guarantee Upto 365 Days of Service.</small></p>
                  <input type="button" id="bookMyService" onclick="window.location.assign('/bookingform')" value="BOOK" class="btn btn-info w-75">
                  <ul>
                    <li><small>₹ 199 will be charged for 1st hour.</small></li>
                    <li><small>₹ 99 will be charged for next 30 minutes following to 1st hour.</small></li>
                    <li><small>₹ 99 will be charged in case of Inspection only.</small></li>
                    <li><small>Material procurement time will be included in service time.</small></li>
                    <li><small>Required Material cost is excluded from above cost.</small></li>
                    <li><small>₹ Cash after Service Available. <i class="fa fa-check text-success"></i></small></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <small>Its feel disgusting to live with a broken tap, leaky pipe, undone toilet flush or low water pressure during our long showers. But somehow we do live with it or we have to, as we have no idea how to get it fixed. When the situation become worst we need a plumber to fix those plumbing issues asap. Plumbing is one of those services without whome we can't mainitain our lifestyle properly.</small>
          <h3 class="mt-2"><b>Whenever you need pipes operation? <i class="fa fa-arrow-right"></i></b></h3>
          <small><b>EzHomeServices</b> really are able to handle a wide array of plumbing services that are complete, including shower plumbing, repairs to toilets, leaks, burst pipes and much more. In addition, we supply an all round service for bath room facilities, offering all electrical and pipes, heating work in a single complete package, with everything from fitting sinks to tiling and grouting supplied. Not only does this make life simpler for you, additionally, it means we provide a 12 month guarantee on all parts and labour, and you're in a position to take advantage of our great value rates.
          </small>
          <br>
          <br>
          <small>Our team can also be accessible for emergency plumbing services, like busted water (and gas) pipes, boiler breakdowns, gas leaks and blocked conduits, offered 24*7 for customers across Harrow, Barnet and Islington.</small>
          <br>
          <small>We offer you total plumbing option directly to your assumptions within time plus at price that is affordable. </small>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
